@font-face {
  font-family: Norse-Bold;
  src: url(fonts/Norse-Bold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: 1440px;
  margin: auto;
  background-color: black;
}

aside {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
  height: 100vh;
}

aside .logo-wrapper {
  position: relative;
  top: 23vh;
  height: 10rem;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .logo-wrapper img {
  height: 100%;
  width: auto;
}

aside .logo-wrapper div {
  color: white;
  text-transform: uppercase;
  font-size: 7rem;
  margin-top: 1rem;
  font-family: Norse-Bold;
}

main {
  font-family: sans-serif;
  height: 100vh;
  flex-basis: 60%;
}

main form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main form .header-section {
  height: 25vh;
  flex-grow: 1;
  background-color: rgb(245, 245, 245);
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
}

main .header-section h2:last-child {
  /* margin: 1rem 0 2rem 0; */
}

main form .form-section {
  /* height: 65vh;
  min-height: 700px; */
}

main form .form-section .top-wrapper {
  height: 50vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  background-color: white;
  box-shadow: 0px 13px 10px -10px rgba(0, 0, 0, 0.3);
  position: relative;
}

main form .form-section .bottom-wrapper {
  background-color: rgb(245, 245, 245);
  height: 25vh;
  padding: 0 3rem;
}


main .form-section .top-wrapper .row {
  display: flex;
  gap: 50px;
}


main .form-section .top-wrapper .row div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 35%;
  /* text-transform: uppercase; */
  font-weight: 500;
  color: rgb(60, 60, 60);
}

main .form-section .top-wrapper .row label{
  text-transform: uppercase;
  font-size: 0.8rem;
} 

main .form-section .top-wrapper .row .error {
  display: inline-block;
  width: 100%;
  color: red;
  font-weight: 100;
  font-size: 0.7rem;
  display: none;
}

input {
  padding: 0.7rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

input:valid {
  border: 2px solid green;
}

main .bottom-wrapper input {
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: darkolivegreen;
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
}

main .bottom-wrapper input:hover {
  cursor: pointer;
  background-color: rgb(112, 136, 72);
}

main .bottom-wrapper div {
  font-size: 1.3rem;
}

main .bottom-wrapper div a {
  text-decoration: none;
  color: darkolivegreen;
  font-weight: bold;
}

.errorMsgStyle {
  border: 1px solid red;
}